# Step 1: Examine Dt_Customer and Income

Section: Step 1: Examine Dt_Customer and Income

**Part of:** [marketing_campaign_082825_working.ipynb](./marketing_campaign_082825_working.ipynb)

In [ ]:
# Setup and data loading
from utils import ProjectConfig, load_intermediate_results, save_intermediate_results
import pandas as pd

config = ProjectConfig()
# Load data from previous notebook
df = load_intermediate_results("data_from_02_step_0.pkl", config)

In [ ]:
# Examine Dt_Customer and Income
print("Initial Data Examination:")
print("\nDt_Customer data type:", df['Dt_Customer'].dtype)
print("Income data type:", df['Income'].dtype)
print("\nMissing values:")
print(df[['Dt_Customer', 'Income']].isnull().sum())

In [ ]:
df[df['Income'].isnull()].head()

In [ ]:
# Cleaning Income column
df['Income'] = df['Income'].str.replace('$', '').str.replace(',', '').str.strip()
df['Income'] = pd.to_numeric(df['Income'], errors='coerce')
df['Income'].dtype

In [ ]:
# Information after cleaning the Income column
print("Number of NaN values for Income column:",df['Income'].isna().sum())

print("Basic Statistical Data for Income column:")
print(df['Income'].describe())
# Missing values will be imputed later

In [ ]:
# Converting Dt_Customer to datetime
df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'], format='%m/%d/%y')

In [ ]:
print(df['Dt_Customer'].head(10))
df['Dt_Customer'].dtype

In [ ]:
# Clean Education column
print("Original Education values:",df['Education'].value_counts(dropna=False))

In [ ]:
# Data Cleaning for Education
# The instructions emphasize cleaning the Education categories.
# The presence of 2n Cycle alongside Master suggests potential redundancy, as both likely refer
# to postgraduate education. Basic is vague and may need clarification or standardization.

# Here’s how cleansing the Education values was undertaken:
# Merge 2n Cycle with Master: Since 2n Cycle corresponds to a Master’s degree in the Bologna Process,
# combining it with Master standardizes the category to a more universally recognized term.
# Clarify Basic: Without additional context, Basic likely represents education below a Bachelor’s degree
# (e.g., high school or less). It will be renamed to something clearer: "Secondary"
# Retain Graduation and rename to Bachelor

df['Education'] = df['Education'].replace('2n Cycle', 'Master')
df['Education'] = df['Education'].replace('Graduation', 'Bachelor')
df['Education'] = df['Education'].replace('Basic', 'Secondary')

print("Cleaned Education values:",df['Education'].value_counts(dropna=False))

In [ ]:
# Clean Marital_Status column
print("Original Marital Status values:",df['Marital_Status'].value_counts(dropna=False))

In [ ]:
# The cleaning process used for merging non-standard categories in the Marital Status column
# Merge (YOLO, Alone, Absurd) into a standard one (Single), reducing redundancy:
# - YOLO (2 entries): Likely a joke or informal entry implying a single. Merging into Single.
# - Alone (3 entries): Implies no partner, aligning with Single. Merging into Single.
# - Absurd (2 entries): Ambiguous, but with such low frequency, it’s likely an error or non-standard
# Retain Married, Together, Divorced, and Widow as distinct categories, as they reflect standard marital statuses.
# - Married: 864 (standard, refers to legally married individuals)
# - Together: 580 (likely refers to cohabiting partners, not legally married)
# - Divorced: 232 (standard, refers to legally divorced individuals)
# - Widow: 77 (standard, refers to individuals whose spouse has passed away)

df['Marital_Status'] = df['Marital_Status'].replace(['YOLO', 'Alone', 'Absurd'], 'Single')
print("\nCleaned Marital_Status values:",df['Marital_Status'].value_counts(dropna=False))

In [ ]:
# Calculate mean and median income by Marital Status and Education
# Pivot tables for visualization
mean_pivot = df.pivot_table(values='Income', index='Marital_Status', columns='Education',
                           aggfunc='mean').round(2)
median_pivot = df.pivot_table(values='Income', index='Marital_Status', columns='Education',
                             aggfunc='median').round(2)

print("\nMean Income Pivot Table:")
print(mean_pivot)
print("\nMedian Income Pivot Table:")
print(median_pivot)

In [ ]:

# Save results for next notebook
save_intermediate_results(df, "data_from_03_step_1.pkl", config)
print('✓ Results saved for next notebook')