# Step 5: Encoding Categorical Variables

Section: Step 5: Encoding Categorical Variables

**Part of:** [marketing_campaign_082825_working.ipynb](./marketing_campaign_082825_working.ipynb)

In [ ]:
# Setup and data loading
from utils import ProjectConfig, load_intermediate_results, save_intermediate_results
import pandas as pd

config = ProjectConfig()
# Load data from previous notebook
df = load_intermediate_results('data_from_06_step_4.pkl', config)

In [ ]:
# Encoding Categorical Variables
# Ordinal encoding for Education
#print(df['Education'].value_counts())
education_mapping = {'Secondary': 1, 'Bachelor': 2, 'Master': 3, 'PhD': 4}
df['Education_Encoded'] = df['Education'].map(education_mapping)
df.drop(columns=['Education'],inplace=True)
#print(df['Education_Encoded'].value_counts())

# One-hot encoding for Marital_Status and Country
df = pd.get_dummies(df, columns=['Marital_Status', 'Country'], prefix=['Marital', 'Country'])

In [ ]:
df.columns # df columns post encoding

In [ ]:

# Save results for next notebook
save_intermediate_results(df, 'data_from_07_step_5.pkl', config)
print('âœ“ Results saved for next notebook')